@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background-image: url("http://3.bp.blogspot.com/-TUNiKsGz6x4/VVaVlofDcKI/AAAAAAAAIBk/DPhRaTCXcpk/s1600/hd-website-backgrounds-pokemon-desktop-backgrounds-wallpaper-hd.jpg");
  font-family: "Open Sans",  Impact;
  padding-bottom: 20%;
  background-size: cover;
  color: rgb(204, 204, 156);
}

 .area {
  text-align: center;
  font-size: 6.5em;
  color: rgb(230, 231, 151);
  letter-spacing: -7px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}

img {
width: 60%;
margin: 0 auto;
animation: blur 1.25s ease-in-out infinite;
box-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}
@keyframes blur {
  from {
    box-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
      
  }
}
}
.jumbotron {
  background-color: rgba(49, 47, 47, 0.74);
  text-align: center;
}
#csharp {
  display: none;
}
#js {
  display: none;
}
#python {
  display: none;
}
button {
  color: black;
}
#results {
  text-align: center;
  line-height: 125%;
}